
        h2{
            text-decoration: underline;
            text-align: center;
            }
            .container{
                height: 600px;
                width: 45%;
              background-color: rgb(184, 171, 171);
                margin:auto;
                padding: 20px;
            }
            .name,.number,.address{
                height: 40px;
                width: 90%;
                margin-left: 5%;
                border-radius: 5px;
                border: 1px solid #eaeaea;
            }
            .fname,.Lname
            {
                margin-top: 20px;
                margin-left: 5%;
                height: 40px;
                width: 41.5%;
                border-radius: 5px;
                border: 1px solid #eaeaea;
            }
            .number,.address{
                margin-top: 20px;
               
            }
            .sing
            {
                height: 30px;
                width: 70px;
                margin-top: 20px;
                margin-left: 5%;
                border-radius: 5px;
                border: 1px solid #eaeaea;
            }
            .check{
                margin-top: 20px;
                margin-left: 5%;
                border-radius: 5px;
            }
            .btnaddress,.btncancel{
                margin-top: 20px;
                margin-left: 5%;
                height: 40px;
                width: 43%;
                border-radius: 5px;
                border: 1px solid #eaeaea;
            }
            .btnaddress
            {
                background-color: #2ea88e;
                color: white;
            }
            .btncancel{
                border: 1px solid #2ea88e;
                background-color: white;
                color: #2ea88e;
            }
            #home{
                border: 1px solid #2ea88e;
                background-color: white;
                color: #2ea88e; 
            }