body{
    margin: 0px;
}
#container {
    display: grid; 
    
}
.head{
   
   margin-left: 40%; 
    color: rgb(48,173,154);

}
#box{
    display: grid;
    grid-template-columns: 320px 440px;
    /* grid-template-rows: 300px; */
    column-gap: 160px;
    margin: 80px 0px 0px 120px ;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f8f8f8;
    width: 50%;
   height: 200px;  
}
.h1{
    line-height: 30px;
}
#con{
    height: 250px;
}

.box{
     /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
width: 200%;
height: 80%;
margin-left: 40%;

    
}
.img{
    margin-top: 10%;
     height: 90%;
     margin-left: 47%;
}
.p{
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    width:60%;
}
 .email{
     border: 1px solid rgb(48,173,154);
     height: 200px;
     width: 100%;
     margin-top: 170px;
     background-color: rgb(48,173,154);
 }
.ebox{
    
    height: 80%;
    width: 40%;
    margin: auto;
    margin-top: 25px;
}
span{
    font-size: 18px;
    color: white;
    margin-left: 2px;
}
.sp
{
    width: 60%;
    text-align: center;
   
}
.bold{
    font-weight: bolder;
    
}
.etype{
    width: 50%;
    height: 40px;
    font-size: 12px;
    margin-top: 0px ;
    border: none;
    margin-left: 20px;
}
.etype:hover{
  border: 2px solid thistle;
}
.arrow{
    width: 50px;
    height: 43px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(255, 208, 0);
}
.arrow:hover{
   background-color: tomato;
}
.sicon{
 
    margin-left: 2%;
    
}

 #right{
     font-size: 60px;
 }


.imgbox{
    
    display: inline-block;
    width: 100px;
    height: 90px;
    margin-top: 50px;
    vertical-align: top;
    margin-left: 50px;
}


#icon{
    color: rgb(68, 67, 67);
    font-size: 50px;
    margin-left: 50px;  
    color: #3a3434;
}
#icon:hover{
    color: #30ad9a;
}
a{
    text-decoration: none;
}
.icontext{
    
    font-size: 11px;
    margin-top: 25px;
    color: rgb(83, 81, 81);
    /* border: 1px solid red; */
    width: 120%;
    margin-left: 15px;
    text-align: center;
}
.icontext:hover{
    color:#30ad9a;
}
#refund{
    border:1px solid rgb(105, 102, 102);
    text-align: center;
    height: 30px; 
    padding-top: 20px;  

}
#imgbox{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    margin-left: 100px;
   
}
#adi{
    margin-left: 100px;
    margin-top: 40px;
}

.table,.table1{
    
    width: 180px;
    height: 10px;
    font-size: 12px;
    text-align: start;
    line-height: 30px;
  
    
}
#stab
{
    border: 1px solid red;
    
}

.table1{
    font-weight: bold;
    font-size: 16px;
    width: 400px;
}
.td{
    color: rgb(83, 81, 81);
    font-size: 11px;
    text-decoration: none;
    
    
}
.td:focus{
    color: skyblue;
}

hr{
    margin-top: 100px;
}
#lasthead{
    color: rgb(117, 95, 95);
    margin: 50px 0px;
}
#lastp{
    color: rgb(131, 128, 128);
    font-size: 14px;
   font-weight: 400;
    line-height: 20px;
}
#lastbox{
    
    min-height: 100px;
    max-width: 90%;
    margin-top: 70px;
    margin-left: 50px;
}
.lasta{
    color: skyblue;
    text-decoration:underline;
}
.lasta1{
    margin-left: 20px;
    color: rgb(68, 67, 67);
}
#lasticon{
    font-size: 40px;
    margin-left: 190px;
}

#lin,#you,#tw,#fb{
    margin-left: 30px;
    border: 1px solid red;
    height: 10px;
    width: 10px;
   padding: 10px;
   border-radius: 50px;
   border: 1px solid grey;
}
#fb{
    margin-left: 20%;
}
#lin:hover,#you:hover,#tw:hover,#fb:hover{
    background-color: #30ad9a;
    color: white;
    border: none;
}