body{
    margin-left: 0px;
}
#top{
    height: 15px;
    width: 100%;
    background-color: #00aa8a ;
    color: white;
    text-align: center;
    padding: 20px;
}
#navbar{
    display: flex;
}

/*------------------------------------ for top unorder list ,navigation bar start-----------------------------------------------*/
ul{
  list-style-type: none;
  padding: 20px;
  margin-top: 0px;
  color:#7a7979 ;
  margin-left: 5%;
}
li:hover{
  
    font-size: 20px;
}
li{
  margin-top: 35px;
  margin-left: 30px;

}
#myntraimg{
    width: 200px;
    height: 50px;
    margin-left: 0px;
    margin-top: 15px;
    border-radius: 5px;
    
}
/* .searchbtn{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #00aa8a;
    margin-left: 100px;
    text-align: center;
    padding: 10px;
} */
a{
    text-decoration: none;
    color:#7a7979;
   
}
#sec{
    border: 1px solid red;
    height: 800px;
    width: 100px;
}
  /* .top{
    height: 35px;
    width: 300px;
    margin-left: 80px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #00aa8a;
   
    
} */
.sale
{
    color: red;
}
.searchicon{
    border-left: none;
    background-color: #0daa8b;
    color: white;
    height: 30px;
    width: 35px;
    margin-top: 7px;
    margin-left: -40px;
     border-radius: 5px;
}
/* .btn_design{
    width: 0px;
    height: 0px;
    background-color: white;
    border: 1px solid white;
    margin-top: 8px;
    margin-left: 30px;
    color: #0daa8b;
    font-size: 20px;
 } */
 
 /* navigation bar buttons start*/
.sp{
    font-size: 13px;
    color:#949a9a; 
    margin-left: 80px;
    margin-top: 0px;
}
.move{
    margin-left: 30px;
}
.btn_design{
    margin-left: 10px;
    background-color: white;
    color:#0daa8b; 
    border: 0px;
    font-size: 20px;
}
.search{
    width: 50%;
    height: 30px;
    margin-left: 80px;
    border-radius: 5px;
    border: 1px solid #0daa8b;
    margin-top: 10px;
}
#navprofile{
    width: 20px;
    margin-left: 0px;
    border: 0px solid #00aa8a;
    background-color: white;
    color: #00aa8a;
}
.lo{
    visibility: hidden;
    display: none;
}

#login:hover >.lo{
    visibility: visible;
    display: block;
    font-size: 15px;
    color: rgb(196, 148, 60);
    line-height: 0px;
    margin-left: 0px;
    
}
.fav{
    visibility: hidden;
    display: none;
}
/* .btn_design:hover > .fav{
    visibility: visible;
    display: block;
    font-size: 14px;
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin-left: -70px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #00aa8a;
    padding-bottom: 10px;
    color: rgb(21, 22, 22);
 
} */

/*---------------------------------------------- navigation bar buttons end------------------------------------------------*/

/* for top unorder list ,navigation bar end*/


/* ----------------------------------------------hover visibility start----------------------------------------------------*/

ul li ul{
    visibility: hidden;
   text-align: left;
   display: none;
   
}
ul li:hover>div>ul{
    visibility:visible;
    margin-left: 0px;
   display: block;
    text-align: left;
    background-color: white;
    width: 200px;
}
.sale,.move{
    margin-left: 30px;
}
#innerdiv{
    display: flex;
}
.head{
    color: #0daa8b;
    font-size: 17px;
    margin-top: 10px;
}
.tail{
    color:  #7a7979;
    font-size: 16px;
    line-height: 5px;
    margin-top: 15px;
}
/*---------------------------------------------- hover visibility end------------------------------------------------------*/
