#paycontainer {
  margin-top: 100px;
  height: 400px;
  width: 50%;
  margin: auto;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.fo {
  font-size: 25px;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 10px;
  color: rgb(94, 85, 85);
}
.name,
.card,
.cvv,
.expiery,
.phone {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  color: silver;
  border: 1px solid #9e9999;
  /* padding-left: 10px; */
}
.name {
  margin-left: 25px;
  padding-left: 10px;
}
.cvv {
  margin-left: 45px;
  padding-left: 10px;
}
.expiery {
  margin-left: 8px;
  /* padding-left: 10px; */
}
.phone {
  margin-left: 25px;
}
.gotp{
  margin-top: 40px;
  height: 40px;
  width: 20%;
  margin-left: 20%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  border: 1px solid #2ea88e;
}
.gotp:hover{
    background-color: #9a9a9a;
    color: white;
    font-weight: 550;
    font-size: 15px;
}
.cod {
  margin-top: 40px;
  height: 40px;
  width: 20%;
  margin-left: 20%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  border: 1px solid #2ea88e;
  margin-left: 5%;
  background-color: #2ea88e;
  color: white;
}
.cod:hover{
    background-color: #248b74 ;
    font-weight: 600;
}
.or {
  margin-left: 40px;
  font-size: 20px;
}
